/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkblue;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: 1.5rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    width: 200px;
    height: 200px;
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.fizz {
    background-color: green;
  }
  
  .buzz {
    background-color: yellow;
  }
  
  .fizz-buzz {
    background-color: grey;
  }
  
  .number{
    background-color: azure;
  }
  